/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

/****** Réinitialisation des marges et paramettrage  ***********/

h1, h2, h3, p, div, img, a{
    margin: 0px;
}  /**** Reinitialise les marges par defaut des navigateurs ****/

body {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center; /*** centre le body sur la page ***/
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;  /*** inclu les bordures dans le remplisage ****/
      
}

a {
    color: inherit;
    text-decoration: none;  /*** supprime le soulignement du lien ***/
}

.section-title {
    margin: 0;
    font-size: 22px;
    font-weight: 700;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;  /*** rempli entièrement le conteneur en gardant les proportions de l'image ***/
}

.card-title {
    font-size: 16px;  /*** taille du caractère ***/
    font-weight: 700;  /*** epaisseur du caractère ***/
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}
.card-subtitle{
    font-size: 14px;
    font-weight: 400;
}

/****** Header et navigation ***********/ 

header{ 
    width: 100%;
    max-width: 1440px;
}
.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 79px;
    align-items: flex-start;
    padding-left: 50px;
    padding-top: 20px;
    position: relative;
    top: 0px;
    left: 0px;  
      
}
.nav-lien{ 
    position: relative;
    font-size: 16px;
    line-height: 18.78px;
    font-weight: 400;
}
.nav-lien-hebergement{
    display: flex;
    margin-right: 68px;
}

.nav-hebergement-activité{
    display: flex;
    flex-direction: row;
    margin-right: 50px;
    gap: 68px;
}
.nav-lien::before{
    content: ''; /* Contenu vide  car on veux pas rajouter d'autre élément qu'une barre*/
    position: absolute; /* Position absolue par rapport au lien */
    top: -20px; /* Position au-dessus du lien */
    left: 0; /* Position sur toute la largeur du lien */
    width: 100%; /* Largeur de la barre égale à la largeur du lien */
    height: 2px; /* Hauteur de la barre */
    background-color: #0065FC; 
    opacity: 0; /* créer une barre invisible */
}
.nav-lien:hover::before {
    opacity: 1; /* rends visible la barre */
}
.nav-logo, .nav-hebergement-activité {
    flex: 1; /* Les éléments enfants occupent tout l'espace disponible */
}

/******* Titre + barre de recherche + bouton filtre + information*********/
.title{
    font-size: 22px;
}
.information-and-filters{
    display: flex;
    flex-direction: column;
    }
.title-page{
        margin-bottom: 17.5px;
    }
.paragraph-title{margin-top: 8px;
    font-size: 16px;
    font-weight: 400;
}


.abc{
    display: flex;
    margin-top: 17.5px;
    margin-bottom: 17.5px;
}


/*** Barre de recherche ****/

.search{
    display: flex;
    flex-direction: row;  /* dispose le conteneur search en ligne */
    height: 49px;
    margin-bottom: 17.5px;  /* marge avec l'élément suivant */
    margin-top: 17.5px;
}
.fa-location-dot{
    color: black;
    position: relative;
    left: auto;  /*centre horizontalement */
    top:auto;   /* centre verticalement */
}
.input-search{
    display: flex;
    height: 49px;
    width: 100%;
}
.icon-search{
    background-color: #F2F2F2;
    width: 50px;
    height: 49px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    display: flex;
    align-items: center;  /* centre suivant l'axe horizontal */
    justify-content: center;
}
input[type="text"] {
     
    margin-right: 0px; 
    display: flex;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-left: 0px;  /* colle a l'élément de gauche */
    border-right: 0px; /* colle a l'élément de droite */
    text-align: center;  /* centre suivant l'axe horizontal */
    border-color: #D9D9D9;
    padding: 15px 16px 15px 16px;
    height: auto;
  }

  ::placeholder {  /** texte dans le input **/
    font-weight: 700;
    font-size: 18px;
    color: black;
  }
.button-search-rechercher {
    margin-left: 0px; 
    display: flex;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border: 1px solid #0065FC;
    padding: 15px 16px 15px 16px;
    background-color: #0065FC;
    height: auto;
    color: #F2F2F2;
    font-size: 18px;
    font-weight: 700;
    align-items: center;
  }
  .button-search-icon{ 
    display: none;
    background-color: #F2F2F2;
  }
.fa-magnifying-glass{
    color: #F2F2F2;
    font-size: 17px;
}
 
.icon-search-container{
    display: flex;
    align-items: center;
}



/***** Filtres*****/

.container-filters-with-title{
    display: flex;
    align-items: center;  /* permet d'aligner "filtre" au bouton */
    margin-top: 17.5px;
    margin-bottom: 17.5px;      
}
.container-filters{
    display: flex;
}
.filters{
    margin-right: 15px;
    height: 100%;
}
.filters-text{
    display: flex;
    margin-right: 15px;
}
.button-filters{
    border-radius: 25px;
    padding: 4px 19px 4px 19px;
    border: 2px solid ;
    border-color: #D9D9D9;
    margin-top: 0px;
    background-color: #FFFFFF;
    height: 50px;
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 17px;
    line-height: 19.96px;
}
.button-filters:hover {
    background-color: #DEEBFF;
}
 .fa-money-bill-wave{
    margin-right: 10px;
    font-size: 22px;
}

.fa-person{
    margin-right: 10px;
    font-size: 22px;
}
.fa-heart{
    margin-right: 10px;
    font-size: 22px;
}
.fa-fire{
    margin-right: 10px;
    font-size: 22px;
}


/**** Information *****/


.paragraph-info-container{
    display: flex;
    align-items: center;  /* aligne le texte et la fa icon */
    margin-top: 17.5px;
}
.info-icon-container{
    height: 24px;
    width: 24px;
    border-radius: 50%;  /* créer un cercle */
    border: solid 1px;
    background-color: #ffffff;
    display: flex;
    border-color: #D9D9D9;
    margin-right: 10px;
    justify-content: center;  /* centre l'icon dans le cercle */
    align-items: center;   /* centre l'icon dans le cercle */
}
.fa-info-taille{
    display: flex;
    font-size: 10px;  /* taille de l'icon */
}


/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;         /* aligne les elements sur tout l'espace en colant sur le coté */
    align-content: space-between;           
    margin-top: 35px;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}


/****** Hebergements ***********/
#hebergement-section {
    width: 65%;
    display: flex;
    flex-direction: column;
}
.hebergements-title{
    margin-bottom: 30px;
}
.hebergements-card {
height: auto;
padding-bottom: 15px;
}
.hebergements-card .card{ 
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
.card-rating{
    height: auto;
}
.hebergements-card-img {
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
    height: 114px;    
}
.container-hebergements-card{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 30px;
}
.hc1{
    grid-column: 1 / 2; 
    grid-row: 1;
}
.hc2{
    grid-column: 2 / 3; 
    grid-row: 1;
}
.hc3{
    grid-column: 3 / 4; 
    grid-row: 1;
}
.hc4{
    grid-column: 1 / 2; 
    grid-row: 2;
}
.hc5{
    grid-column: 2 / 3; 
    grid-row: 2;
}
.hc6{
    grid-column: 3 / 4; 
    grid-row: 2;
}
.afficher-plus-container{
    grid-column: 1 / 4;
    grid-row: 3;
}

.hebergements-card .card-content{
    padding-left: 15px;
    display: flex;
    gap: 8px;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}
.hebergements-card .card-txt{
    display: flex;
    gap: 8px;
    flex-direction: column;
}
.afficher-plus{
    font-size: 18px;
    font-weight: 700;
    
    
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}


/****** Activitées ***********/

.activity-card{
    border-radius: 20px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    width: 100%;
    height: 100%;
}
.Activity-in-Marseille{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}
.activity-img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    object-fit: cover;
    width: 100%;
    aspect-ratio: 298/380;
}
.card-activity-txt-container .card-txt{
    margin: 20px 19px 20px 19px;
}
.container-activity-marseille{
    display: flex;
    flex-direction: column;
    padding: 30px;
    box-sizing: border-box;
    margin-top: 35px;
}
.container-activity{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-template-rows: auto; 
    gap: 30px; 
}

/****** Pied de page ***********/


.footer-container{
    display: flex;
    flex-direction: row;
    height: 163px;
    background-color: #F2F2F2;
    margin-top: 35px;
}
.text-footer-item{
    width: 33.33%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;  /* aligne en commançant a gauche */
    padding: 20px;
}
.text-footer{
    display: flex;
    line-height: 18.78px;
    font-size: 16px;
    font-weight: 400;
    margin: 0px;
    align-items: flex-start;  /* aligne en commançant en haut du container */
}

.text-footer-title{
    font-weight: 700;
    line-height: 21.13px;
    font-size: 18px;
    margin: 0px;
    display: flex;
    margin-bottom: 15px;
}
/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .container-filters-with-title{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }

    .hebergements-and-populaires {
        display: flex;
        flex-direction: column;  /* passe hebergement section et popular section l'une en dessous de l'autre */
    }

    #hebergement-section {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;   /* passe de colone a ligne */
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
.activity-img{
    aspect-ratio: 193.5/200;
}
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */

    /*** Réinitialisation ***/

.main-container {
        width: 100%; 
        padding: 0px;    
    }
header{ 
        width: 100%;
        padding-right: 0px;
    }

    /*** Navigation **/
.nav{
    display: flex;
    flex-direction: column;  /* passe de ligne a colonne */
    justify-content: center;
    width: 100%;
    padding: 0px;
    padding-top: 30px;
    align-items: center;
}
.nav-logo{
    padding-bottom: 30px;
}
.container-hebergement-activite{
    width: 100%;
    align-items: center;
    display: flex;
}
.nav-hebergement-activité{
    margin: 0px;
    align-items: center;
    gap: 0px;
}
.nav-container{
    width: 100%;
}
.nav-lien{
    width: 50%;             /* passe la taille du lien a la moitié de l'écran */
    display: flex;
    justify-content: center;
}
.nav-lien::before{
    content: ''; 
    position: absolute; 
    top: auto;  /** supprime la valeur précédament appliquée */
    bottom: -20px; /* Position au-dessous du lien */
    left: 0; /* Position sur toute la largeur du lien */
    width: 100%; /* Largeur de la barre égale à la largeur du lien */
    height: 2px; /* Hauteur de la barre */
    background-color: #F2F2F2; /* Couleur de la barre */
    opacity: 1;  /** couleur du lien avant click **/
}
.nav-lien:hover::before {
    width: 100%; /* Largeur de la barre lors du survol */
    opacity: 1;
    background-color: #0065FC;
    bottom: -20px;
}

/******* Titre + barre de recherche + bouton filtre + information*********/

.information-and-filters{
    padding: 0px 20px 0px 20px;
}
.title-page h1{
    font-size: 22px;
    margin-top: 50px;
}
/**** Barre de recherche***/

  .button-search-rechercher {
    display: none;    /* fait disparraitre le bouton rechercher */
  }
  .button-search-icon{ 
    display: flex;
    align-items: center;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border: 1px solid #0065FC;
    background-color: #0065FC;
    padding: 15px 16px 15px 16px;
    margin-left: -15px;
  }
.input-search-container{
    width: 100%;
}
  .input-search{
    display: flex;
    height: 49px;
    width: 100%;
}
  .search{
    display: flex;
    flex-direction: row;
    height: 49px;
    width: 100%;
}
input[type="text"]{
    width: 100%;
    text-align: start;
}
.input-container{
    width: 100%;
}

/**** Filtres ****/

.text-button-filters{
    font-size: 14px;
}
.filters{
    margin: 0px;
    
}
.container-filters{   /* passe les boutons de flex à grid */
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 50px 50px; 
    row-gap: 20px;
    column-gap: 10px;
    width: 100%;
}
.button-filters{
    width: 100%;
    font-size: 14px;
}
.button1{
    grid-column: 1 / 2; 
    grid-row: 1;
}
.button2{
    grid-column: 2 / 3; 
  grid-row: 1;
}
.button3{
    grid-column: 1 / 2; 
  grid-row: 2;
}
.button4{
    grid-column: 2 / 3; 
  grid-row: 2;
}

/**** hebergements-and-populaires ******/

.hebergements-and-populaires{
    flex-direction: column-reverse;   /* change l'odre de la l'affichage hebergement et popular section */
    width: 100%;
}

/**** Populaire ****/

.populaires{
    flex-direction: column;
    
    width: 100%;
    margin-top: 0px;
    
}
.populaires-cards{
    flex-direction: column;
    width: 100%;
}
.populaires-cards .card{
    margin-top: 15px;
}
.populaires-cards .card-title {
    font-size: 16px;
}
.populaires-cards .card-subtitle {
    font-size: 14px;
}
.card{
    width: auto;        /* prends tout l'espace disponible */
}
.populaires-cards a {
    width: auto;
}

/**** Hebergement***/


.container-hebergements-card{
    width: 100%;
    gap: 15px;
    display: flex;
    flex-direction: column;
}
.hebergements-and-populaires section{
    padding: 20px;
    border-radius: 0;
}
#hebergement-section{
    background-color: #FFFFFF;
}
.hebergements-card{
    width: 100%;
}

/**** Activité ****/
.container-activity{
    display: flex;
    flex-direction: column;
}
.activity-img{
    aspect-ratio: 315/141;
}

/**** Pied de page ****/

.footer-container{
    flex-direction: column;
    gap:10px;
    height: auto;
    padding: 10px;
}
.text-footer-item{
    width: auto;
}
}