/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}
/****** Header et navigation ***********/ 

header{ 
    width: 100%;
    max-width: 1440px;
    padding-right: 50px;
}
.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 79px;
    align-items: flex-start;
    padding-left: 50px;
    padding-top: 20px;
      
}
.nav-container{
    position: relative;
    top: 0px;
    left: 0px;  
    
}
.nav-lien{ 
    position: relative;
    font-size: 16px;
    line-height: 18.78px;
    font-weight: 400;
}
.nav-lien-hebergement{
    display: flex;
    margin-right: 68px;
}

.nav-hebergement-activité{
    display: flex;
    flex-direction: row;
    margin-right: 50px;
    gap: 68px;
}
.nav-lien::before{
    content: ''; /* Contenu vide */
    position: absolute; /* Position absolue par rapport au lien */
    top: -20px; /* Position au-dessus du lien */
    left: 0; /* Position sur toute la largeur du lien */
    width: 100%; /* Largeur de la barre égale à la largeur du lien */
    height: 2px; /* Hauteur de la barre */
    background-color: #0065FC; /* Couleur de la barre */
    transition: width 0.3s; /* Transition pour un effet d'animation */
    opacity: 0;
}
.nav-lien:hover::before {
    width: 100%; /* Largeur de la barre lors du survol */
    opacity: 1;
}
.nav-logo, .nav-hebergement-activité {
    flex: 1; /* Les éléments enfants occupent tout l'espace disponible */
}

/******* Titre + barre de recherche + bouton filtre + information*********/

.information-and-filters{
    display: flex;
    flex-direction: column;
    }
.title-page{
        margin-bottom: 17.5px;
    }
.paragraph-title{margin-top: 8px;
    font-size: 16px;
    font-weight: 400;
}


.abc{
    display: flex;
    margin-top: 17.5px;
    margin-bottom: 17.5px;
}


/*** Barre de recherche ****/

.search{
    display: flex;
    flex-direction: row;
    height: 49px;
    margin-bottom: 17.5px;
    margin-top: 17.5px;
}
.fa-location-dot{
    color: black;
    position: relative;
    left: auto;
    top:auto;
}
.input-search{
    display: flex;
    height: 49px;
    width: 100%;
}
.icon-search{
    background-color: #F2F2F2;
    width: 50px;
    height: 49px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    display: flex;
    align-items: center;
}
input[type="text"] {
     
    margin-right: 0px; 
    display: flex;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-left: 0px;
    border-right: 0px;
    text-align: center;
    border-color: #D9D9D9;
    padding: 15px 16px 15px 16px;
    height: auto;
  }
.button-search {
    margin-left: 0px; 
    display: flex;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border: 1px solid #0065FC;
    padding: 15px 16px 15px 16px;
    background-color: #0065FC;
    height: auto;
  }
  .icon-search-button{
    display: none;
    background-color: #F2F2F2;
  }
.icon-search-container{
    display: flex;
    align-items: center;
}
.icon-position{
    position: relative;
    left: 18px;
    width: 14px;
    height: 18px;
}


/***** Filtres*****/

.container-filters-with-title{
    display: flex;
    align-items: center;
    margin-top: 17.5px;
    margin-bottom: 17.5px;      
}
.container-filters{
    display: flex;
}
.filters{
    margin-right: 15px;
    height: 100%;
}
.filters-text{
    display: flex;
    margin-right: 15px;
}
.button-filters{
    border-radius: 25px;
    padding: 4px 19px 4px 19px;
    border: 2px solid ;
    border-color: #D9D9D9;
    margin-top: 0px;
    background-color: none;
    height: 50px;
    display: flex;
    align-items: center;
}
.text-button-filters{
    font-weight: 700;
    size: 17px;
    line-height: 19.96px;
}
.position-vector{
    display: flex;
    margin-right: 10px;
    font-size: 22px;
}

.button-filters:hover {
    background-color: #DEEBFF;
}

/**** Information *****/


.paragraph-info{
    margin: 0px;               /***** a voir si ça peut etre supprimer sans incidence******/
}
.paragraph-info-container{
    display: flex;
    align-items: center;
    margin-top: 17.5px;
}
.info-icon-container{
    height: 24px;
    width: 24px;
    border-radius: 50%;
    border: solid 1px;
    background-color: #ffffff;
    display: flex;
    border-color: #D9D9D9;
    margin-right: 10px;
    justify-content: center;
    align-items: center;
}
.fa-info-taille{
    display: flex;
    width: 4px;
    height: 10px;
font-size: 10px;}
/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
#hebergement-section {
    width: 65%;
    display: flex;
    flex-direction: column;
}
.hebergements-title{
    margin-bottom: 30px;
}
.hebergements-card {
height: 207.25 px;
}
.hebergements-card-img {
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-bottom: 4px;
    object-fit: cover;
    height: 124px;
}
.container-hebergements-card{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 30px;
}
.hc1{
    grid-column: 1 / 2; 
    grid-row: 1;
}
.hc2{
    grid-column: 2 / 3; 
    grid-row: 1;
}
.hc3{
    grid-column: 3 / 4; 
    grid-row: 1;
}
.hc4{
    grid-column: 1 / 2; 
    grid-row: 2;
}
.hc5{
    grid-column: 2 / 3; 
    grid-row: 2;
}
.hc6{
    grid-column: 3 / 4; 
    grid-row: 2;
}
.afficher-plus-container{
    grid-column: 1 / 4;
    grid-row: 3;
}

.hebergements-card .card-content{
    padding-left: 15px;
    display: flex;
    gap: 8px;
    flex-direction: column;
}
.hebergements-card .card-txt{
    display: flex;
    gap: 8px;
    flex-direction: column;
}
.afficher-plus{
    font-size: 18px;
    font-weight: 700;
    
    
}


/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}




/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}